@model Unidad2_Act1.Models.ViewModels.IndexEspecieViewModel;
@{
    Layout = "Layout";
}
<div class="especieficha1">
    <img src="~/especies/@(Model.FullAnimalDesc.IdFoto).jpg" />
    <div>
        <h1>@Model.FullAnimalDesc.Nombre</h1>
        <p><label>Clase:</label><a href="~/Home/Especies?Id=@(Model.FullAnimalDesc.NombreClase)">@Model.FullAnimalDesc.NombreClase</a></p>
        <p><label>Peso:</label>@Model.FullAnimalDesc.Peso</p>
        <p><label>Tamaño:</label>@Model.FullAnimalDesc.Tamaño</p>
        <p><label>Habitat:</label>@Model.FullAnimalDesc.Habitat</p>
        <p><label>Descripción:</label></p>
        <p>@Model.FullAnimalDesc.Descripcion</p>
    </div>

    <a href="~/Home/Especies?Id=@(Model.FullAnimalDesc.NombreClase)">Regresar</a>
</div>